footer {
	color: #fff;
	background-color: #666;
	margin-top: 2rem;
}

.footer {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.links ul li {
	list-style: none;
}

.links ul li::before {
	content: '> ';
}

small {
	display: block;
	text-align: center;
}
