@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Hind+Siliguri&family=Tiro+Bangla&display=swap');
.invitation {
	width: 435px;
	height: 435px;
	background-image: url(https://imgtr.ee/images/2023/11/03/0800ff310bb377c0d3934771df418692.jpeg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
}

.user-image {
	position: absolute;
	top: 107px;
	left: 106px;
	border-radius: 50%;
	object-fit: cover;
	width: 230px;
	height: 230px;
	box-shadow: 0px 0px 31px 9px rgba(0, 0, 0, 0.2);
}

.userName {
	position: absolute;
	bottom: 10px;
	right: 15px;
	font-family: 'Handlee', cursive;
}

h3 {
	text-align: center;
	width: 85%;
	margin: 0 auto;
	/* background-color: red; */
	font-family: 'Hind Siliguri', sans-serif;
}
